<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.medical.dao.ChargeFormMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.medical.bean.ChargeForm">
    <constructor>
      <idArg column="charge_form_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="registration_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="charge_item_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="item_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uncharged_nums" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="made_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="valid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="department_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="doctor_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="collector_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="not_given_nums" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="reserve1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserve2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserve3" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    charge_form_id, registration_id, charge_item_id, item_count, uncharged_nums, made_time, 
    valid, department_id, doctor_id, collector_id, not_given_nums, reserve1, reserve2, 
    reserve3
  </sql>
  <select id="selectByExample" parameterType="com.neusoft.medical.example.ChargeFormExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hospital.charge_form
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.neusoft.medical.example.ChargeFormExample">
    delete from hospital.charge_form
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.neusoft.medical.bean.ChargeForm">
    <selectKey keyProperty="chargeFormId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hospital.charge_form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="registrationId != null">
        registration_id,
      </if>
      <if test="chargeItemId != null">
        charge_item_id,
      </if>
      <if test="itemCount != null">
        item_count,
      </if>
      <if test="unchargedNums != null">
        uncharged_nums,
      </if>
      <if test="madeTime != null">
        made_time,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="collectorId != null">
        collector_id,
      </if>
      <if test="notGivenNums != null">
        not_given_nums,
      </if>
      <if test="reserve1 != null">
        reserve1,
      </if>
      <if test="reserve2 != null">
        reserve2,
      </if>
      <if test="reserve3 != null">
        reserve3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="registrationId != null">
        #{registrationId,jdbcType=INTEGER},
      </if>
      <if test="chargeItemId != null">
        #{chargeItemId,jdbcType=INTEGER},
      </if>
      <if test="itemCount != null">
        #{itemCount,jdbcType=INTEGER},
      </if>
      <if test="unchargedNums != null">
        #{unchargedNums,jdbcType=INTEGER},
      </if>
      <if test="madeTime != null">
        #{madeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="collectorId != null">
        #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="notGivenNums != null">
        #{notGivenNums,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.medical.example.ChargeFormExample" resultType="java.lang.Long">
    select count(*) from hospital.charge_form
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hospital.charge_form
    <set>
      <if test="record.chargeFormId != null">
        charge_form_id = #{record.chargeFormId,jdbcType=INTEGER},
      </if>
      <if test="record.registrationId != null">
        registration_id = #{record.registrationId,jdbcType=INTEGER},
      </if>
      <if test="record.chargeItemId != null">
        charge_item_id = #{record.chargeItemId,jdbcType=INTEGER},
      </if>
      <if test="record.itemCount != null">
        item_count = #{record.itemCount,jdbcType=INTEGER},
      </if>
      <if test="record.unchargedNums != null">
        uncharged_nums = #{record.unchargedNums,jdbcType=INTEGER},
      </if>
      <if test="record.madeTime != null">
        made_time = #{record.madeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=INTEGER},
      </if>
      <if test="record.departmentId != null">
        department_id = #{record.departmentId,jdbcType=INTEGER},
      </if>
      <if test="record.doctorId != null">
        doctor_id = #{record.doctorId,jdbcType=INTEGER},
      </if>
      <if test="record.collectorId != null">
        collector_id = #{record.collectorId,jdbcType=INTEGER},
      </if>
      <if test="record.notGivenNums != null">
        not_given_nums = #{record.notGivenNums,jdbcType=INTEGER},
      </if>
      <if test="record.reserve1 != null">
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null">
        reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve3 != null">
        reserve3 = #{record.reserve3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hospital.charge_form
    set charge_form_id = #{record.chargeFormId,jdbcType=INTEGER},
      registration_id = #{record.registrationId,jdbcType=INTEGER},
      charge_item_id = #{record.chargeItemId,jdbcType=INTEGER},
      item_count = #{record.itemCount,jdbcType=INTEGER},
      uncharged_nums = #{record.unchargedNums,jdbcType=INTEGER},
      made_time = #{record.madeTime,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=INTEGER},
      department_id = #{record.departmentId,jdbcType=INTEGER},
      doctor_id = #{record.doctorId,jdbcType=INTEGER},
      collector_id = #{record.collectorId,jdbcType=INTEGER},
      not_given_nums = #{record.notGivenNums,jdbcType=INTEGER},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      reserve3 = #{record.reserve3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.medical.bean.ChargeForm">
    update hospital.charge_form
    <set>
      <if test="registrationId != null">
        registration_id = #{registrationId,jdbcType=INTEGER},
      </if>
      <if test="chargeItemId != null">
        charge_item_id = #{chargeItemId,jdbcType=INTEGER},
      </if>
      <if test="itemCount != null">
        item_count = #{itemCount,jdbcType=INTEGER},
      </if>
      <if test="unchargedNums != null">
        uncharged_nums = #{unchargedNums,jdbcType=INTEGER},
      </if>
      <if test="madeTime != null">
        made_time = #{madeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="collectorId != null">
        collector_id = #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="notGivenNums != null">
        not_given_nums = #{notGivenNums,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null">
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        reserve3 = #{reserve3,jdbcType=VARCHAR},
      </if>
    </set>
    where charge_form_id = #{chargeFormId,jdbcType=INTEGER}
  </update>
</mapper>