<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.medical.dao.ChargeItemMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.medical.bean.ChargeItem">
    <constructor>
      <idArg column="charge_item_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="charge_item_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name_zh" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="specification" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="price" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="expense_category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="department_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name_pinyin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="charge_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="creation_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="charge_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="nums" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name_en" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="valid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="reserve1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserve2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserve3" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    charge_item_id, charge_item_code, name_zh, specification, price, expense_category_id, 
    department_id, name_pinyin, charge_type, creation_time, charge_time, nums, name_en, 
    valid, reserve1, reserve2, reserve3
  </sql>
  <select id="selectByExample" parameterType="com.neusoft.medical.example.ChargeItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hospital.charge_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.neusoft.medical.example.ChargeItemExample">
    delete from hospital.charge_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.neusoft.medical.bean.ChargeItem">
    <selectKey keyProperty="chargeItemId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hospital.charge_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chargeItemCode != null">
        charge_item_code,
      </if>
      <if test="nameZh != null">
        name_zh,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="expenseCategoryId != null">
        expense_category_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="namePinyin != null">
        name_pinyin,
      </if>
      <if test="chargeType != null">
        charge_type,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
      <if test="chargeTime != null">
        charge_time,
      </if>
      <if test="nums != null">
        nums,
      </if>
      <if test="nameEn != null">
        name_en,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="reserve1 != null">
        reserve1,
      </if>
      <if test="reserve2 != null">
        reserve2,
      </if>
      <if test="reserve3 != null">
        reserve3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chargeItemCode != null">
        #{chargeItemCode,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null">
        #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="expenseCategoryId != null">
        #{expenseCategoryId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="namePinyin != null">
        #{namePinyin,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null">
        #{chargeType,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=DATE},
      </if>
      <if test="chargeTime != null">
        #{chargeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nums != null">
        #{nums,jdbcType=INTEGER},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.medical.example.ChargeItemExample" resultType="java.lang.Long">
    select count(*) from hospital.charge_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hospital.charge_item
    <set>
      <if test="record.chargeItemId != null">
        charge_item_id = #{record.chargeItemId,jdbcType=INTEGER},
      </if>
      <if test="record.chargeItemCode != null">
        charge_item_code = #{record.chargeItemCode,jdbcType=VARCHAR},
      </if>
      <if test="record.nameZh != null">
        name_zh = #{record.nameZh,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null">
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.expenseCategoryId != null">
        expense_category_id = #{record.expenseCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.departmentId != null">
        department_id = #{record.departmentId,jdbcType=INTEGER},
      </if>
      <if test="record.namePinyin != null">
        name_pinyin = #{record.namePinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeType != null">
        charge_type = #{record.chargeType,jdbcType=INTEGER},
      </if>
      <if test="record.creationTime != null">
        creation_time = #{record.creationTime,jdbcType=DATE},
      </if>
      <if test="record.chargeTime != null">
        charge_time = #{record.chargeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nums != null">
        nums = #{record.nums,jdbcType=INTEGER},
      </if>
      <if test="record.nameEn != null">
        name_en = #{record.nameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=INTEGER},
      </if>
      <if test="record.reserve1 != null">
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null">
        reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve3 != null">
        reserve3 = #{record.reserve3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hospital.charge_item
    set charge_item_id = #{record.chargeItemId,jdbcType=INTEGER},
      charge_item_code = #{record.chargeItemCode,jdbcType=VARCHAR},
      name_zh = #{record.nameZh,jdbcType=VARCHAR},
      specification = #{record.specification,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      expense_category_id = #{record.expenseCategoryId,jdbcType=INTEGER},
      department_id = #{record.departmentId,jdbcType=INTEGER},
      name_pinyin = #{record.namePinyin,jdbcType=VARCHAR},
      charge_type = #{record.chargeType,jdbcType=INTEGER},
      creation_time = #{record.creationTime,jdbcType=DATE},
      charge_time = #{record.chargeTime,jdbcType=TIMESTAMP},
      nums = #{record.nums,jdbcType=INTEGER},
      name_en = #{record.nameEn,jdbcType=VARCHAR},
      valid = #{record.valid,jdbcType=INTEGER},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      reserve3 = #{record.reserve3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.medical.bean.ChargeItem">
    update hospital.charge_item
    <set>
      <if test="chargeItemCode != null">
        charge_item_code = #{chargeItemCode,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null">
        name_zh = #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="expenseCategoryId != null">
        expense_category_id = #{expenseCategoryId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="namePinyin != null">
        name_pinyin = #{namePinyin,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null">
        charge_type = #{chargeType,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=DATE},
      </if>
      <if test="chargeTime != null">
        charge_time = #{chargeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nums != null">
        nums = #{nums,jdbcType=INTEGER},
      </if>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null">
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        reserve3 = #{reserve3,jdbcType=VARCHAR},
      </if>
    </set>
    where charge_item_id = #{chargeItemId,jdbcType=INTEGER}
  </update>
</mapper>