<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.medical.dao.MedicalRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.medical.bean.MedicalRecords" >
    <constructor >
      <arg column="medical_records_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="registration_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="main_info" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="current_disease" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="current_treatment" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="preliminary_western" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="preliminary_chinese" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve3" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    medical_records_id, registration_id, main_info, current_disease, current_treatment, 
    preliminary_western, preliminary_chinese, reserve1, reserve2, reserve3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.medical.bean.MedicalRecordsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from medical_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.neusoft.medical.bean.MedicalRecordsExample" >
    delete from medical_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.neusoft.medical.bean.MedicalRecords" >
    insert into medical_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="medicalRecordsId != null" >
        medical_records_id,
      </if>
      <if test="registrationId != null" >
        registration_id,
      </if>
      <if test="mainInfo != null" >
        main_info,
      </if>
      <if test="currentDisease != null" >
        current_disease,
      </if>
      <if test="currentTreatment != null" >
        current_treatment,
      </if>
      <if test="preliminaryWestern != null" >
        preliminary_western,
      </if>
      <if test="preliminaryChinese != null" >
        preliminary_chinese,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
      <if test="reserve3 != null" >
        reserve3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="medicalRecordsId != null" >
        #{medicalRecordsId,jdbcType=INTEGER},
      </if>
      <if test="registrationId != null" >
        #{registrationId,jdbcType=INTEGER},
      </if>
      <if test="mainInfo != null" >
        #{mainInfo,jdbcType=VARCHAR},
      </if>
      <if test="currentDisease != null" >
        #{currentDisease,jdbcType=VARCHAR},
      </if>
      <if test="currentTreatment != null" >
        #{currentTreatment,jdbcType=VARCHAR},
      </if>
      <if test="preliminaryWestern != null" >
        #{preliminaryWestern,jdbcType=VARCHAR},
      </if>
      <if test="preliminaryChinese != null" >
        #{preliminaryChinese,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        #{reserve3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.medical.bean.MedicalRecordsExample" resultType="java.lang.Integer" >
    select count(*) from medical_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update medical_records
    <set >
      <if test="record.medicalRecordsId != null" >
        medical_records_id = #{record.medicalRecordsId,jdbcType=INTEGER},
      </if>
      <if test="record.registrationId != null" >
        registration_id = #{record.registrationId,jdbcType=INTEGER},
      </if>
      <if test="record.mainInfo != null" >
        main_info = #{record.mainInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.currentDisease != null" >
        current_disease = #{record.currentDisease,jdbcType=VARCHAR},
      </if>
      <if test="record.currentTreatment != null" >
        current_treatment = #{record.currentTreatment,jdbcType=VARCHAR},
      </if>
      <if test="record.preliminaryWestern != null" >
        preliminary_western = #{record.preliminaryWestern,jdbcType=VARCHAR},
      </if>
      <if test="record.preliminaryChinese != null" >
        preliminary_chinese = #{record.preliminaryChinese,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve1 != null" >
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null" >
        reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve3 != null" >
        reserve3 = #{record.reserve3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update medical_records
    set medical_records_id = #{record.medicalRecordsId,jdbcType=INTEGER},
      registration_id = #{record.registrationId,jdbcType=INTEGER},
      main_info = #{record.mainInfo,jdbcType=VARCHAR},
      current_disease = #{record.currentDisease,jdbcType=VARCHAR},
      current_treatment = #{record.currentTreatment,jdbcType=VARCHAR},
      preliminary_western = #{record.preliminaryWestern,jdbcType=VARCHAR},
      preliminary_chinese = #{record.preliminaryChinese,jdbcType=VARCHAR},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      reserve3 = #{record.reserve3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>