<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.medical.dao.PatientMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.medical.bean.Patient" >
    <constructor >
      <arg column="patient_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="patient_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="birth_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="allergies" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="identify_card_no" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="social_security_card_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="family_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="alive" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="reserve1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve3" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    patient_id, patient_name, birth_date, allergies, identify_card_no, social_security_card_no, 
    family_address, alive, reserve1, reserve2, reserve3, gender
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.medical.bean.PatientExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from patient
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.neusoft.medical.bean.PatientExample" >
    delete from patient
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.neusoft.medical.bean.Patient" >
    insert into patient
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="patientName != null" >
        patient_name,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="allergies != null" >
        allergies,
      </if>
      <if test="identifyCardNo != null" >
        identify_card_no,
      </if>
      <if test="socialSecurityCardNo != null" >
        social_security_card_no,
      </if>
      <if test="familyAddress != null" >
        family_address,
      </if>
      <if test="alive != null" >
        alive,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
      <if test="reserve3 != null" >
        reserve3,
      </if>
      <if test="gender != null" >
        gender,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientId != null" >
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="patientName != null" >
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=DATE},
      </if>
      <if test="allergies != null" >
        #{allergies,jdbcType=VARCHAR},
      </if>
      <if test="identifyCardNo != null" >
        #{identifyCardNo,jdbcType=INTEGER},
      </if>
      <if test="socialSecurityCardNo != null" >
        #{socialSecurityCardNo,jdbcType=VARCHAR},
      </if>
      <if test="familyAddress != null" >
        #{familyAddress,jdbcType=VARCHAR},
      </if>
      <if test="alive != null" >
        #{alive,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.medical.bean.PatientExample" resultType="java.lang.Integer" >
    select count(*) from patient
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update patient
    <set >
      <if test="record.patientId != null" >
        patient_id = #{record.patientId,jdbcType=INTEGER},
      </if>
      <if test="record.patientName != null" >
        patient_name = #{record.patientName,jdbcType=VARCHAR},
      </if>
      <if test="record.birthDate != null" >
        birth_date = #{record.birthDate,jdbcType=DATE},
      </if>
      <if test="record.allergies != null" >
        allergies = #{record.allergies,jdbcType=VARCHAR},
      </if>
      <if test="record.identifyCardNo != null" >
        identify_card_no = #{record.identifyCardNo,jdbcType=INTEGER},
      </if>
      <if test="record.socialSecurityCardNo != null" >
        social_security_card_no = #{record.socialSecurityCardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.familyAddress != null" >
        family_address = #{record.familyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.alive != null" >
        alive = #{record.alive,jdbcType=INTEGER},
      </if>
      <if test="record.reserve1 != null" >
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null" >
        reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve3 != null" >
        reserve3 = #{record.reserve3,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update patient
    set patient_id = #{record.patientId,jdbcType=INTEGER},
      patient_name = #{record.patientName,jdbcType=VARCHAR},
      birth_date = #{record.birthDate,jdbcType=DATE},
      allergies = #{record.allergies,jdbcType=VARCHAR},
      identify_card_no = #{record.identifyCardNo,jdbcType=INTEGER},
      social_security_card_no = #{record.socialSecurityCardNo,jdbcType=VARCHAR},
      family_address = #{record.familyAddress,jdbcType=VARCHAR},
      alive = #{record.alive,jdbcType=INTEGER},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      reserve3 = #{record.reserve3,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>