<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.medical.dao.PrescriptionEntryMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.medical.bean.PrescriptionEntry">
    <constructor>
      <idArg column="prescription_entry_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="medicine_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="prescription_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="unit_price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="total_price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="nums" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="not_given_nums" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="medicine_usage" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="medicine_dosage" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="medicine_frequency" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="medicine_number_day" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="skin_test" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="skin_test_result" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pay_state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="doctor_advice" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="valid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="reserve1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserve2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reserve3" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prescription_entry_id, medicine_id, prescription_id, unit_price, total_price, nums, 
    not_given_nums, medicine_usage, medicine_dosage, medicine_frequency, medicine_number_day, 
    skin_test, skin_test_result, pay_state, doctor_advice, valid, reserve1, reserve2, 
    reserve3
  </sql>
  <select id="selectByExample" parameterType="com.neusoft.medical.bean.PrescriptionEntryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hospital.prescription_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.neusoft.medical.bean.PrescriptionEntryExample">
    delete from hospital.prescription_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.neusoft.medical.bean.PrescriptionEntry">
    <selectKey keyProperty="prescriptionEntryId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hospital.prescription_entry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="medicineId != null">
        medicine_id,
      </if>
      <if test="prescriptionId != null">
        prescription_id,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="nums != null">
        nums,
      </if>
      <if test="notGivenNums != null">
        not_given_nums,
      </if>
      <if test="medicineUsage != null">
        medicine_usage,
      </if>
      <if test="medicineDosage != null">
        medicine_dosage,
      </if>
      <if test="medicineFrequency != null">
        medicine_frequency,
      </if>
      <if test="medicineNumberDay != null">
        medicine_number_day,
      </if>
      <if test="skinTest != null">
        skin_test,
      </if>
      <if test="skinTestResult != null">
        skin_test_result,
      </if>
      <if test="payState != null">
        pay_state,
      </if>
      <if test="doctorAdvice != null">
        doctor_advice,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="reserve1 != null">
        reserve1,
      </if>
      <if test="reserve2 != null">
        reserve2,
      </if>
      <if test="reserve3 != null">
        reserve3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="medicineId != null">
        #{medicineId,jdbcType=INTEGER},
      </if>
      <if test="prescriptionId != null">
        #{prescriptionId,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="nums != null">
        #{nums,jdbcType=INTEGER},
      </if>
      <if test="notGivenNums != null">
        #{notGivenNums,jdbcType=INTEGER},
      </if>
      <if test="medicineUsage != null">
        #{medicineUsage,jdbcType=VARCHAR},
      </if>
      <if test="medicineDosage != null">
        #{medicineDosage,jdbcType=VARCHAR},
      </if>
      <if test="medicineFrequency != null">
        #{medicineFrequency,jdbcType=VARCHAR},
      </if>
      <if test="medicineNumberDay != null">
        #{medicineNumberDay,jdbcType=VARCHAR},
      </if>
      <if test="skinTest != null">
        #{skinTest,jdbcType=VARCHAR},
      </if>
      <if test="skinTestResult != null">
        #{skinTestResult,jdbcType=VARCHAR},
      </if>
      <if test="payState != null">
        #{payState,jdbcType=INTEGER},
      </if>
      <if test="doctorAdvice != null">
        #{doctorAdvice,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.medical.bean.PrescriptionEntryExample" resultType="java.lang.Long">
    select count(*) from hospital.prescription_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hospital.prescription_entry
    <set>
      <if test="record.prescriptionEntryId != null">
        prescription_entry_id = #{record.prescriptionEntryId,jdbcType=INTEGER},
      </if>
      <if test="record.medicineId != null">
        medicine_id = #{record.medicineId,jdbcType=INTEGER},
      </if>
      <if test="record.prescriptionId != null">
        prescription_id = #{record.prescriptionId,jdbcType=INTEGER},
      </if>
      <if test="record.unitPrice != null">
        unit_price = #{record.unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.totalPrice != null">
        total_price = #{record.totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.nums != null">
        nums = #{record.nums,jdbcType=INTEGER},
      </if>
      <if test="record.notGivenNums != null">
        not_given_nums = #{record.notGivenNums,jdbcType=INTEGER},
      </if>
      <if test="record.medicineUsage != null">
        medicine_usage = #{record.medicineUsage,jdbcType=VARCHAR},
      </if>
      <if test="record.medicineDosage != null">
        medicine_dosage = #{record.medicineDosage,jdbcType=VARCHAR},
      </if>
      <if test="record.medicineFrequency != null">
        medicine_frequency = #{record.medicineFrequency,jdbcType=VARCHAR},
      </if>
      <if test="record.medicineNumberDay != null">
        medicine_number_day = #{record.medicineNumberDay,jdbcType=VARCHAR},
      </if>
      <if test="record.skinTest != null">
        skin_test = #{record.skinTest,jdbcType=VARCHAR},
      </if>
      <if test="record.skinTestResult != null">
        skin_test_result = #{record.skinTestResult,jdbcType=VARCHAR},
      </if>
      <if test="record.payState != null">
        pay_state = #{record.payState,jdbcType=INTEGER},
      </if>
      <if test="record.doctorAdvice != null">
        doctor_advice = #{record.doctorAdvice,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=INTEGER},
      </if>
      <if test="record.reserve1 != null">
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null">
        reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve3 != null">
        reserve3 = #{record.reserve3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hospital.prescription_entry
    set prescription_entry_id = #{record.prescriptionEntryId,jdbcType=INTEGER},
      medicine_id = #{record.medicineId,jdbcType=INTEGER},
      prescription_id = #{record.prescriptionId,jdbcType=INTEGER},
      unit_price = #{record.unitPrice,jdbcType=DOUBLE},
      total_price = #{record.totalPrice,jdbcType=DOUBLE},
      nums = #{record.nums,jdbcType=INTEGER},
      not_given_nums = #{record.notGivenNums,jdbcType=INTEGER},
      medicine_usage = #{record.medicineUsage,jdbcType=VARCHAR},
      medicine_dosage = #{record.medicineDosage,jdbcType=VARCHAR},
      medicine_frequency = #{record.medicineFrequency,jdbcType=VARCHAR},
      medicine_number_day = #{record.medicineNumberDay,jdbcType=VARCHAR},
      skin_test = #{record.skinTest,jdbcType=VARCHAR},
      skin_test_result = #{record.skinTestResult,jdbcType=VARCHAR},
      pay_state = #{record.payState,jdbcType=INTEGER},
      doctor_advice = #{record.doctorAdvice,jdbcType=VARCHAR},
      valid = #{record.valid,jdbcType=INTEGER},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      reserve3 = #{record.reserve3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.medical.bean.PrescriptionEntry">
    update hospital.prescription_entry
    <set>
      <if test="medicineId != null">
        medicine_id = #{medicineId,jdbcType=INTEGER},
      </if>
      <if test="prescriptionId != null">
        prescription_id = #{prescriptionId,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="nums != null">
        nums = #{nums,jdbcType=INTEGER},
      </if>
      <if test="notGivenNums != null">
        not_given_nums = #{notGivenNums,jdbcType=INTEGER},
      </if>
      <if test="medicineUsage != null">
        medicine_usage = #{medicineUsage,jdbcType=VARCHAR},
      </if>
      <if test="medicineDosage != null">
        medicine_dosage = #{medicineDosage,jdbcType=VARCHAR},
      </if>
      <if test="medicineFrequency != null">
        medicine_frequency = #{medicineFrequency,jdbcType=VARCHAR},
      </if>
      <if test="medicineNumberDay != null">
        medicine_number_day = #{medicineNumberDay,jdbcType=VARCHAR},
      </if>
      <if test="skinTest != null">
        skin_test = #{skinTest,jdbcType=VARCHAR},
      </if>
      <if test="skinTestResult != null">
        skin_test_result = #{skinTestResult,jdbcType=VARCHAR},
      </if>
      <if test="payState != null">
        pay_state = #{payState,jdbcType=INTEGER},
      </if>
      <if test="doctorAdvice != null">
        doctor_advice = #{doctorAdvice,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null">
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        reserve3 = #{reserve3,jdbcType=VARCHAR},
      </if>
    </set>
    where prescription_entry_id = #{prescriptionEntryId,jdbcType=INTEGER}
  </update>
</mapper>