<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.medical.dao.RegistrationMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.medical.bean.Registration" >
    <constructor >
      <arg column="registration_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="patient_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="age" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="birthday" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="registration_category" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="medical_category" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="identity_card_no" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="family_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="registration_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="visit_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="department_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="doctor_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="registration_source" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="settle_accounts_category" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="is_visited" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="registration_status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="valid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="reserve2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve3" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="patient_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="collector_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    registration_id, patient_name, gender, age, birthday, registration_category, medical_category, 
    identity_card_no, family_address, registration_date, visit_date, department_id, doctor_id, 
    registration_source, settle_accounts_category, is_visited, registration_status, valid, 
    reserve2, reserve3, reserve1, patient_id, collector_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.medical.bean.RegistrationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from registration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.neusoft.medical.bean.RegistrationExample" >
    delete from registration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.neusoft.medical.bean.Registration" >
    insert into registration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="registrationId != null" >
        registration_id,
      </if>
      <if test="patientName != null" >
        patient_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="registrationCategory != null" >
        registration_category,
      </if>
      <if test="medicalCategory != null" >
        medical_category,
      </if>
      <if test="identityCardNo != null" >
        identity_card_no,
      </if>
      <if test="familyAddress != null" >
        family_address,
      </if>
      <if test="registrationDate != null" >
        registration_date,
      </if>
      <if test="visitDate != null" >
        visit_date,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="registrationSource != null" >
        registration_source,
      </if>
      <if test="settleAccountsCategory != null" >
        settle_accounts_category,
      </if>
      <if test="isVisited != null" >
        is_visited,
      </if>
      <if test="registrationStatus != null" >
        registration_status,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
      <if test="reserve3 != null" >
        reserve3,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="collectorId != null" >
        collector_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="registrationId != null" >
        #{registrationId,jdbcType=INTEGER},
      </if>
      <if test="patientName != null" >
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="registrationCategory != null" >
        #{registrationCategory,jdbcType=CHAR},
      </if>
      <if test="medicalCategory != null" >
        #{medicalCategory,jdbcType=CHAR},
      </if>
      <if test="identityCardNo != null" >
        #{identityCardNo,jdbcType=CHAR},
      </if>
      <if test="familyAddress != null" >
        #{familyAddress,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null" >
        #{registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="visitDate != null" >
        #{visitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="registrationSource != null" >
        #{registrationSource,jdbcType=CHAR},
      </if>
      <if test="settleAccountsCategory != null" >
        #{settleAccountsCategory,jdbcType=CHAR},
      </if>
      <if test="isVisited != null" >
        #{isVisited,jdbcType=CHAR},
      </if>
      <if test="registrationStatus != null" >
        #{registrationStatus,jdbcType=CHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="collectorId != null" >
        #{collectorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.medical.bean.RegistrationExample" resultType="java.lang.Integer" >
    select count(*) from registration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update registration
    <set >
      <if test="record.registrationId != null" >
        registration_id = #{record.registrationId,jdbcType=INTEGER},
      </if>
      <if test="record.patientName != null" >
        patient_name = #{record.patientName,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=CHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.registrationCategory != null" >
        registration_category = #{record.registrationCategory,jdbcType=CHAR},
      </if>
      <if test="record.medicalCategory != null" >
        medical_category = #{record.medicalCategory,jdbcType=CHAR},
      </if>
      <if test="record.identityCardNo != null" >
        identity_card_no = #{record.identityCardNo,jdbcType=CHAR},
      </if>
      <if test="record.familyAddress != null" >
        family_address = #{record.familyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationDate != null" >
        registration_date = #{record.registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.visitDate != null" >
        visit_date = #{record.visitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.departmentId != null" >
        department_id = #{record.departmentId,jdbcType=INTEGER},
      </if>
      <if test="record.doctorId != null" >
        doctor_id = #{record.doctorId,jdbcType=INTEGER},
      </if>
      <if test="record.registrationSource != null" >
        registration_source = #{record.registrationSource,jdbcType=CHAR},
      </if>
      <if test="record.settleAccountsCategory != null" >
        settle_accounts_category = #{record.settleAccountsCategory,jdbcType=CHAR},
      </if>
      <if test="record.isVisited != null" >
        is_visited = #{record.isVisited,jdbcType=CHAR},
      </if>
      <if test="record.registrationStatus != null" >
        registration_status = #{record.registrationStatus,jdbcType=CHAR},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=INTEGER},
      </if>
      <if test="record.reserve2 != null" >
        reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve3 != null" >
        reserve3 = #{record.reserve3,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve1 != null" >
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.patientId != null" >
        patient_id = #{record.patientId,jdbcType=INTEGER},
      </if>
      <if test="record.collectorId != null" >
        collector_id = #{record.collectorId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update registration
    set registration_id = #{record.registrationId,jdbcType=INTEGER},
      patient_name = #{record.patientName,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=CHAR},
      age = #{record.age,jdbcType=INTEGER},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      registration_category = #{record.registrationCategory,jdbcType=CHAR},
      medical_category = #{record.medicalCategory,jdbcType=CHAR},
      identity_card_no = #{record.identityCardNo,jdbcType=CHAR},
      family_address = #{record.familyAddress,jdbcType=VARCHAR},
      registration_date = #{record.registrationDate,jdbcType=TIMESTAMP},
      visit_date = #{record.visitDate,jdbcType=TIMESTAMP},
      department_id = #{record.departmentId,jdbcType=INTEGER},
      doctor_id = #{record.doctorId,jdbcType=INTEGER},
      registration_source = #{record.registrationSource,jdbcType=CHAR},
      settle_accounts_category = #{record.settleAccountsCategory,jdbcType=CHAR},
      is_visited = #{record.isVisited,jdbcType=CHAR},
      registration_status = #{record.registrationStatus,jdbcType=CHAR},
      valid = #{record.valid,jdbcType=INTEGER},
      reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      reserve3 = #{record.reserve3,jdbcType=VARCHAR},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      patient_id = #{record.patientId,jdbcType=INTEGER},
      collector_id = #{record.collectorId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>