<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.medical.dao.SchedulingRuleMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.medical.bean.SchedulingRule">
    <constructor>
      <idArg column="scheduling_rule_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="weekday" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="department_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="doctor_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="registration_category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="noon" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="limitation" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operation_account_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operation_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="valid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    scheduling_rule_id, weekday, department_id, doctor_id, registration_category_id, 
    noon, limitation, operation_account_id, operation_date, valid
  </sql>
  <select id="selectByExample" parameterType="com.neusoft.medical.bean.SchedulingRuleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hospital.scheduling_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.neusoft.medical.bean.SchedulingRuleExample">
    delete from hospital.scheduling_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.neusoft.medical.bean.SchedulingRule">
    <selectKey keyProperty="schedulingRuleId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hospital.scheduling_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="weekday != null">
        weekday,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="registrationCategoryId != null">
        registration_category_id,
      </if>
      <if test="noon != null">
        noon,
      </if>
      <if test="limitation != null">
        limitation,
      </if>
      <if test="operationAccountId != null">
        operation_account_id,
      </if>
      <if test="operationDate != null">
        operation_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="weekday != null">
        #{weekday,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="registrationCategoryId != null">
        #{registrationCategoryId,jdbcType=INTEGER},
      </if>
      <if test="noon != null">
        #{noon,jdbcType=INTEGER},
      </if>
      <if test="limitation != null">
        #{limitation,jdbcType=INTEGER},
      </if>
      <if test="operationAccountId != null">
        #{operationAccountId,jdbcType=INTEGER},
      </if>
      <if test="operationDate != null">
        #{operationDate,jdbcType=DATE},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.medical.bean.SchedulingRuleExample" resultType="java.lang.Long">
    select count(*) from hospital.scheduling_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hospital.scheduling_rule
    <set>
      <if test="record.schedulingRuleId != null">
        scheduling_rule_id = #{record.schedulingRuleId,jdbcType=INTEGER},
      </if>
      <if test="record.weekday != null">
        weekday = #{record.weekday,jdbcType=INTEGER},
      </if>
      <if test="record.departmentId != null">
        department_id = #{record.departmentId,jdbcType=INTEGER},
      </if>
      <if test="record.doctorId != null">
        doctor_id = #{record.doctorId,jdbcType=INTEGER},
      </if>
      <if test="record.registrationCategoryId != null">
        registration_category_id = #{record.registrationCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.noon != null">
        noon = #{record.noon,jdbcType=INTEGER},
      </if>
      <if test="record.limitation != null">
        limitation = #{record.limitation,jdbcType=INTEGER},
      </if>
      <if test="record.operationAccountId != null">
        operation_account_id = #{record.operationAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.operationDate != null">
        operation_date = #{record.operationDate,jdbcType=DATE},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hospital.scheduling_rule
    set scheduling_rule_id = #{record.schedulingRuleId,jdbcType=INTEGER},
      weekday = #{record.weekday,jdbcType=INTEGER},
      department_id = #{record.departmentId,jdbcType=INTEGER},
      doctor_id = #{record.doctorId,jdbcType=INTEGER},
      registration_category_id = #{record.registrationCategoryId,jdbcType=INTEGER},
      noon = #{record.noon,jdbcType=INTEGER},
      limitation = #{record.limitation,jdbcType=INTEGER},
      operation_account_id = #{record.operationAccountId,jdbcType=INTEGER},
      operation_date = #{record.operationDate,jdbcType=DATE},
      valid = #{record.valid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.medical.bean.SchedulingRule">
    update hospital.scheduling_rule
    <set>
      <if test="weekday != null">
        weekday = #{weekday,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="registrationCategoryId != null">
        registration_category_id = #{registrationCategoryId,jdbcType=INTEGER},
      </if>
      <if test="noon != null">
        noon = #{noon,jdbcType=INTEGER},
      </if>
      <if test="limitation != null">
        limitation = #{limitation,jdbcType=INTEGER},
      </if>
      <if test="operationAccountId != null">
        operation_account_id = #{operationAccountId,jdbcType=INTEGER},
      </if>
      <if test="operationDate != null">
        operation_date = #{operationDate,jdbcType=DATE},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
    </set>
    where scheduling_rule_id = #{schedulingRuleId,jdbcType=INTEGER}
  </update>
</mapper>